.SlotLine {
    margin: 0 2rem;
    font-size: 1rem;
    text-align: left;
    line-height: 2rem;
}

.SlotLine .invis {
    visibility: hidden;
}

.SlotLine .show {
    visibility: visible;
    animation: fadeIn 1.5s;
}

.SlotLine input {
    width: 50%;
    text-align: center;
    display: inline-block;
    border: 1px skyblue solid;
    font-size: 1.1rem;
}

@keyframes fadeIn{
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-moz-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-webkit-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-o-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
  
  @-ms-keyframes fadeIn {
    0% {
      opacity:0;
    }
    100% {
      opacity:1;
    }
  }
